/* VARIABLES */

// Colors
$primary-shade: #2C2C2C;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$secondary-shade: #FFFDFB;
$secondary-light: lighten($secondary-shade, 37%);
$secondary-dark: darken($secondary-shade, 12%);
$bg-grey: #F5F3F1;