/* VARIABLES */

// Colors
$primary-shade: #093243;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$secondary-shade: #F66526;
$secondary-light: lighten($secondary-shade, 37%);
$secondary-dark: darken($secondary-shade, 12%);

$fade-white: #F1EFEC;
$fade-black: #343434;
$grey-1: #747373;
$grey-2: #ACACAC;
$grey-3: #E3E3E3;