/* TYPOGRAPHY */
@font-face {
  font-family: 'Alvaro';
  src: url("../fonts/Alvaro/AlvaroCondensed-8XZZ.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen/Oxygen-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
  font-weight: 400;
}
